@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@500&display=swap");
body {
  margin: 0;
  width: 100%;
  height: 5530px;
  background-color: lightgray;
}

/* navbar section */

.wrapper {
  height: 5530px;
  width: 1440px;
  /* left: calc((100% - 1440px) / 2); */
  margin: auto;
  top: 0px;
  border-radius: 0px;
  background: #ffffff;
  position: relative;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 1280px;
  height: 51px;
  left: 80px;
  top: 40px;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 1180px;
  height: 559px;
  left: 130px;
  top: 171px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 1px 0px 1px;

  position: absolute;
  width: 1438px;
  height: 3713.47px;
  left: 0px;
  top: 850px;
}

.banner {
  position: absolute;
  width: 900px;
  height: 296px;
  top: 4784px;
  left: 270px;
  background-color: #2f2e41;
  z-index: 1;
}

.footer {
  position: absolute;
  width: 1440px;
  height: 598px;
  top: 4932px;
  left: 0px;
  background: #ecebff;
}

.ul-links {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #9893a3;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 418px;
  height: 32px;
  left: 341.04px;
  top: 9.5px;

  list-style: none;
}

.ul-links li:first-child {
  color: #2f2e41;
  position: relative;
}
.ul-links #li-home {
  position: absolute;
  border-bottom: 4px solid #9e99ff;
  position: absolute;
  width: 47px;
  height: 0px;
  left: 0px;
  top: 32px;
}
.ul-links a {
  text-decoration: none;
}

.ul-links a:visited {
  all: unset;
}

.buttons {
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  justify-content: space-between;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  width: 258px;
  height: 51px;
  left: 1022px;
  top: 0px;
}

#log-in {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6c63ff;
  border: 1px solid #6c63ff;
  border-radius: 3px;
  width: 100px;
  height: 49px;
}

#get-started {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #6c63ff;
  border-radius: 3px;
  width: 140px;
  height: 51px;
}

.logo img {
  width: 100%;
  height: auto;
}

/* hero section */

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  position: static;
  padding: 0px;

  height: 477px;
  width: 489px;
  left: 0px;
  top: 41px;
  border-radius: 0px;
}
.hero-text {
  display: flex;
}
#home h3 {
  display: flex;
  height: 264px;
  width: 489x;
  left: 0px;
  top: 0px;
  margin: 0 auto;
  font-family: "Playfair Display";
  font-size: 86px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -1px;
  text-align: left;
  color: #2F2E41;
}

#home p {
  height: 102px;
  width: 489px;
  left: 0px;
  top: 294px;
  color: #9893a3;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;
}

.button-hero {
  display: flex;
  position: static;
  align-self: flex-start;
  align-items: center; /* napis */
  justify-content: center; /* napis */

  width: 140px;
  height: 51px;

  color: white;
  background-color: #6c63ff;
  border-radius: 3px;

  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
}

.hero-image{
  width: 642px;
  height: 559px;
}

/* main section */