@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@500&display=swap");
body {
  margin: 0;
  width: 100%;
  height: 5530px;
  background-color: lightgray;
}

.wrapper {
  height: 5530px;
  width: 1440px;
  /* left: calc((100% - 1440px) / 2); */
  margin: auto;
  top: 0px;
  border-radius: 0px;
  background: #ffffff;
  position: relative;
}

/* navbar section */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 1280px;
  height: 51px;
  left: 80px;
  top: 40px;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 1180px;
  height: 559px;
  left: 130px;
  top: 171px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 1px 0px 1px;

  position: absolute;
  width: 1438px;
  height: 3713.47px;
  left: 0px;
  top: 850px;
}

.banner {
  position: absolute;
  width: 900px;
  height: 296px;
  top: 4784px;
  left: 270px;
  background-color: #2f2e41;
  z-index: 1;
}

.footer {
  position: absolute;
  width: 1440px;
  height: 598px;
  top: 4932px;
  left: 0px;
  background: #ecebff;
}

.ul-links {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

  color: #9893a3;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;

  width: 418px;
  height: 32px;
  left: 341.04px;
  top: 9.5px;

  list-style: none;
}

.ul-links li:first-child {
  color: #2f2e41;
  position: relative;
}
.ul-links #li-home {
  position: absolute;
  border-bottom: 4px solid #9e99ff;
  position: absolute;
  width: 47px;
  height: 0px;
  left: 0px;
  top: 32px;
}
.ul-links a {
  text-decoration: none;
}

.ul-links a:visited {
  all: unset;
}

.buttons {
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  justify-content: space-between;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  width: 258px;
  height: 51px;
  left: 1022px;
  top: 0px;
}

#log-in {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6c63ff;
  border: 1px solid #6c63ff;
  border-radius: 3px;
  width: 100px;
  height: 49px;
}

#get-started {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #6c63ff;
  border-radius: 3px;
  width: 140px;
  height: 51px;
}

.logo img {
  width: 100%;
  height: auto;
}

/* hero section */

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  position: static;
  padding: 0px;

  height: 477px;
  width: 489px;
  left: 0px;
  top: 41px;
  border-radius: 0px;
}
.hero-text {
  display: flex;
}
#home h1 {
  display: flex;
  height: 264px;
  width: 489x;
  left: 0px;
  top: 0px;
  margin: 0 auto;
  font-family: "Playfair Display";
  font-size: 86px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -1px;
  text-align: left;
  color: #2f2e41;
}

#home p {
  height: 102px;
  width: 489px;
  left: 0px;
  top: 294px;
  color: #9893a3;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;
}

.button-hero {
  display: flex;
  position: static;
  align-self: flex-start;
  align-items: center; /* napis */
  justify-content: center; /* napis */

  width: 140px;
  height: 51px;

  color: white;
  background-color: #6c63ff;
  border-radius: 3px;

  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
}

.hero-image {
  width: 642px;
  height: 559px;
}

/* blog / sekcja z hero2  */

.hero2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1180px;
  height: 442.78px;

  top: 255.42px;
}

.hero2-image {
  display: flex;
  width: 600px;
  height: 443px;
}

.hero2-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 400px;
  height: 309px;
}

.hero2-content h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: left;
  color: #2f2e41;
}

.hero2-content p {
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;
  color: #9893a3;
}

.hero2-button a {
  all: unset;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -1px;
  text-align: left;
}

.hero2-button a:hover {
  text-decoration: underline;
  text-decoration-color: #9e99ff;
  text-decoration-thickness: 1px;
  cursor: pointer;
  text-decoration-style: solid;
}

.hero2-button {
  width: 90px;
  height: 35px;
  background: linear-gradient(0deg, #dfddff 50%, #ffffff 50%);
}

/* blog / sekcja z hero 3*/

.hero3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1180px;
  height: 497.2px;
  position: relative;
  top: 450px;
}

.hero3-image {
  width: 600px;
  height: 497.2px;
}

.hero3-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 400px;
  height: 300px;
}

.hero3-content h2 {
  font-family: "Playfair Display";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: left;
  color: #2f2e41;
}

.hero3-content p {
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;
  color: #9893a3;
}

.hero3-button {
  width: 90px;
  height: 35px;
  background: linear-gradient(0deg, #dfddff 50%, #ffffff 50%);
}

.hero3-button a {
  all: unset;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -1px;
  text-align: left;
}

.hero3-button a:hover {
  text-decoration: underline;
  text-decoration-color: #9e99ff;
  text-decoration-thickness: 1px;
  cursor: pointer;
  text-decoration-style: solid;
}

/* blog / sekcja z hero 4*/

.hero4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1180px;
  height: 497.2px;
  position: relative;
  top: 600px;
}

.hero4-image {
  width: 600px;
  height: 497.2px;
}

.hero4-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 400px;
  height: 300px;
}

.hero4-content h2 {
  font-family: "Playfair Display";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -1px;
  text-align: left;
  color: #2f2e41;
}

.hero4-content p {
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;
  color: #9893a3;
}

.hero4-button {
  width: 90px;
  height: 35px;
  background: linear-gradient(0deg, #dfddff 50%, #ffffff 50%);
}

.hero4-button a {
  all: unset;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -1px;
  text-align: left;
}

.hero4-button a:hover {
  text-decoration: underline;
  text-decoration-color: #9e99ff;
  text-decoration-thickness: 1px;
  cursor: pointer;
  text-decoration-style: solid;
}

/* pricing section */

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1180px;
  height: 656px;
  position: relative;
  top: 600px;
}

#pricing h2 {
  font-family: "Playfair Display";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: left;
  color: #2f2e41;
}

.pricing-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1180px;
  height: 502px;
  padding: 0px;
  justify-content: space-between;
}

/* style pricing card 1 */
.pricing-card-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 421px;
  width: 363px;
  left: 0px;
  top: 40.5px;
  border-radius: 2px;
  padding: 46px, 88px, 46px, 88px;
  background: #ecebff4d;
}

.pricing-card-1 #starter {
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: #717082;
}

.pricing-card-1 #free {
  height: 56px;
  width: 104px;
  line-height: 90px;
  color: #2f2e41;
  font-family: "Open Sans";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -2px;
  text-align: center;
}
.pricing-card-1-frame p {
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: #717082;
}

.pricing-card-1-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 51px;
  width: 140px;
  border: 1px solid #6c63ff;
  border-radius: 3px;
  padding: 16px, 30px, 16px, 30px;
}
.pricing-card-1-button p {
  width: 80px;
  height: 19px;
  left: calc(50% - 80px / 2);
  top: calc(50% - 19px / 2);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #6c63ff;
}

/* style pricing card 2 */

.pricing-card-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #6c63ff;
  width: 363px;
  height: 502px;
  left: 408px;
  top: 0px;
}

.pricing-card-2 #premium {
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
}
.price-wrap {
  display: flex;
  flex-direction: row;
  position: static;
  width: 149px;
  font-family: "Open Sans";
  font-style: normal;
  color: #ffffff;
}

#price {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  height: 56px;
}

#month {
  font-size: 18px;
  line-height: 90px;
}

.pricing-card-2-frame p {
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
}

.pricing-card-2-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 186px;

  border: 1px solid #ffffff;
  background-color: #ffffff;
}
.pricing-card-2-button p {
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: #6c63ff;
}

/* style pricing card 3 */

.pricing-card-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 421px;
  width: 363px;
  left: 0px;
  top: 40.5px;
  border-radius: 2px;
  padding: 46px, 88px, 46px, 88px;
  background: #ecebff4d;
}

.pricing-card-3 #starter {
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: #717082;
}

.pricing-card-3 #free {
  height: 56px;
  width: 104px;
  border-radius: nullpx;
  color: #2f2e41;
  font-family: "Open Sans";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -2px;
  text-align: center;
}
.pricing-card-3-frame p {
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: #717082;
}

.pricing-card-3-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 51px;
  width: 140px;
  border: 1px solid #6c63ff;
  border-radius: 3px;
  padding: 16px, 30px, 16px, 30px;
}
.pricing-card-3-button p {
  width: 80px;
  height: 19px;
  left: calc(50% - 80px / 2);
  top: calc(50% - 19px / 2);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #6c63ff;
}

.pricing-card-3 #price {
  color: #2f2e41;
}

.pricing-card-3 #month {
  color: #2f2e41;
}
